.footer {
  position: sticky;
  bottom: 0;
  background: #000;
  color: #ccc;
  padding: 14px 24px;
}

.footer-inner {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials span {
  margin-left: 10px;
  cursor: pointer;
}
